extends ../../template/layout.pug

block content
	script( defer src='scripts/allProducts.bundle.js')
	include ../../sections/allProducts__prescreen/allProducts__prescreen.pug
	include ../../sections/allProducts__products/allProducts__products.pug
	