mixin href-button(name='href-button',type="a",action="#", href="#")
    case type
        when 'btn'
            button.href-button--green--mixin(class!=attributes.class action=action)=name
        default
            a.href-button--green--mixin(class!=attributes.class href=href)=name
