mixin href-button(name)
    case type
        when 'btn'
            button.href-button--green--mixin(class!=attributes.class action=action )=name?name:"href-button"
        default
            a.href-button--green--mixin(class!=attributes.class href=href?href:"#" title=title?title:'.')=name?name:"href-button"
