section.information__FAQ
    .container
        a(name=FAQ)
        h2.information__FAQ__title
            | Часто задаваемые вопросы
        .information__FAQ__card
            h3.information__FAQ__card__title
                | Материал
            .information__FAQ__card__content
                | Вы можете заказать у нас пошив толстовок из любого вида материалов: <br>
                | Хлопок 100% <br>
                | Хлопок/полиэстер 85/15% <br>
                | Флис
        .information__FAQ__card
            h3.information__FAQ__card__title
                | Как заказать
            .information__FAQ__card__content
                | Выбирайте из готовых моделей или отправьте нам свой дизайн для пошива.
        .information__FAQ__card
            h3.information__FAQ__card__title
                | Виды нанесения
            .information__FAQ__card__content
                | Вы можете заказать у нас пошив толстовок из любого вида материалов:
                | Шелкография<br>
                | Вышивка<br>
                | Цифровая печать<br>
                | Флекс
        .information__FAQ__card
            h3.information__FAQ__card__title
                | Уход за товаром
            .information__FAQ__card__content
                | — Не рекомендуем использовать моющие средства и стиральные порошки с отбеливателями и хлором. <br>
                | — Перед глажкой и стиркой желательно вывернуть изделие наизнанку. <br>
                | — Стирка в прохладной воде не выше 30°С без включения режима сушки