header.header
    .container.header__container
        a.header__logo(href='#')
            include images/logo.svg
        .header__right-side
            include ../../components/header__search/search
            +href-button('+380 630 130 103','green')