header.header
    .container.header__container
        .header__logo
            include images/logo.svg
        include ../../components/header__search/search
        +href-button('+380 630 130 103','green')