header.header
    include  ../../components/header__popup-menu/header__popup-menu
    .container.header__container
        .header__top
            a.header__logo(href='index' title="главная")
                h1
                    | GIFTS & MERCH
            .header__right-side
                include ../../components/header__search/search
                +href-button('+7 902 564 23 45', href="information#contacts", title="К контактам")
                .header__popup-button
                    include images/🌈 COLOR.svg
    .header__bottom
        .container
            nav.header__nav
              ul.header__ul
                li.header__li
                    a(href="allProducts" title="Все товары") Все товары
                    ul.header__subul
                        li.header__li
                            a(href="allProducts" title="Толстовка") Толстовка
                        li.header__li
                            a(href="allProducts" title="Свитшоты") Свитшоты
                        li.header__li
                            a(href="allProducts" title="Футболки") Футболки
                        li.header__li
                            a(href="allProducts" title="Поло") Поло
                li.header__li
                    a(href="production" title="Производство") Производство
                li.header__li
                    a(href="information" title="Информация") Информация
