section.production__prescreen
    .production__prescreen__bg
        img(src='images/sections/production__prescreen/images/bg.webp')
    .container
        .production__prescreen__title
            |Нужно создать 
            br 
            |уникальный продукт 
            br
            |для вашей компании?
        .production__prescreen__subtitle
            | Почему? Потому что это ощутимо и это волнует. Это вовлекает, повышает осведомленность и вызывает эмоции.
        +href-button('Написать менеджеру', href="/information#contacts", title="К контактам")
        .production__prescreen__girls
            img(src='images/sections/production__prescreen/images/girls.webp' alt="placeholder")
    .production__prescreen__bg-bottom
        img(class='production__prescreen__bg-white' src='images/sections/production__prescreen/images/Vector 5.webp' alt="placeholder")