.production__prescreen{
  position: relative;
  overflow: hidden;
  .production__prescreen__bg{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .production__prescreen__bg img {
    width: 100%;
    height: 110%;
  }
  .production__prescreen__bg-white {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 48%;
    bottom: -262px;
  }

  .container {
    .href-button--green--mixin{
      background: #3C336C;
      margin-top: 40px;
    }
    div {
      position: relative;
      z-index: 1;
    }
    position: relative;
    padding-top: 324px;
    padding-bottom: 140px;
    @include h1();
    .production__prescreen__title {
      font-weight: 900;
      font-size: 48px;
      line-height: 60px;
      text-transform: uppercase;

      /* main black */
      color: #272525;


    }
    .production__prescreen__subtitle {
      margin-top: 40px;
      @include h6();
      max-width: 620px;
      font-style: normal;
      font-weight: 400;
      /* or 23px */
      letter-spacing: 0.065em;

      /* production black */
      color: #272525;
    }
    .production__prescreen__benefits{
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: 30px;
      .production__prescreen__benefit {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        @include h5();
        font-style: normal;
        font-weight: 400;
        text-align: center;

        /* production black */
        color: #272525;
        b{
          font-weight: 800;
        }
      }
    }

    .production__prescreen__girls {
      position: absolute;
      z-index: -1;
      right: -75px;
      bottom: -65px;
    }

  }
}
@media (max-width: 1300px) and (min-width: 1001px) {
  .production__prescreen{
    .container{
      .production__prescreen__girls{
        transform: scale(0.8);
        right: -10%;
        bottom: -17%;
      }
    }

  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .production__prescreen{
    .container{
      padding-top: 100px;
      padding-bottom: 300px;
      .production__prescreen__girls{
        transform: scale(0.8);
        right: -24%;
        bottom: 14%;
        opacity: 0.90;
      }
      .production__prescreen__title {
        transform: scale(0.7) translateX(-21%);
      }
      .production__prescreen__subtitle{
        max-width: 400px;
        margin-top: 0;
      }
      .production__prescreen__benefits{
        width: 100%;
        position: absolute;
        align-items: center;
        justify-content: center;
        z-index: 11;
        bottom: 15px;
      }
    }
    .production__prescreen__bg-white{
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 48%;
      bottom: -20px;
    }
  }
}
@media (max-width: 768px){
  .production__prescreen{
    min-width: 480px;
    .production__prescreen__bg-white{
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 48%;
      bottom: -246px;
    }
    .container{
      padding-bottom: 433px;
      .production__prescreen__girls{
        transform: scale(0.9);
        right: 0%;
        bottom: -10%;
      }
      padding-top: 100px;
      .production__prescreen__title {
        @include h2();
        max-width: 400px;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        /* production black */
        color: #272525;
      }
      .production__prescreen__benefits{
        z-index: 11;
        position: absolute;
        flex-direction: column;
        justify-content: flex-end;
      }
      .production__prescreen__subtitle{
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 600px){
.production__prescreen{
    min-width: 480px;
    .production__prescreen__bg-white{
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 48%;
      bottom: -246px;
    }
    .container{
      padding-bottom: 433px;
      .production__prescreen__girls{
        transform: scale(1);
        right: 0%;
        bottom: 0%;
      }
      padding-top: 100px;
      .production__prescreen__title {
        @include h2();
        max-width: 400px;
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        /* production black */
        color: #272525;
      }
      .production__prescreen__benefits{
        z-index: 11;
        position: absolute;
        flex-direction: column;
        justify-content: flex-end;
      }
      .production__prescreen__subtitle{
        margin-top: 10px;
      }
    }
  }
}