section.information__info-blocks
    .container
        .information__info-block
            h3.information__info-block__title
                |Сроки изготовления
            .information__info-block__content
                | Сроки пошива будут зависеть от объема Вашего заказа и сложности моделей. В среднем изготовление корпоративной продукции занимает  10 -18 рабочих дней с момента утверждения всех деталей.
        .information__info-block
            h3.information__info-block__title
                | Стоимость
            .information__info-block__content
                | Стоимость производства брендированной продукции  на заказ  расчитывается
                |индивидуально. Цена зависит от сложности работы, брендирования, материалов, тиража
                | срочности. Мы подберем для вас оптимальный вариант в соответствии с вашим бюджетом
        .information__info-block
            h3.information__info-block__title
                | Брендирование
            .information__info-block__content
                | Стоимость производства брендированной продукции  на заказ  расчитывается
                | индивидуально. Цена зависит от сложности работы, брендирования, материалов, тиража
                |и срочности. Мы подберем для вас оптимальный вариант в соответствии с вашим бюджетом