.main__unique-idea
	.main__unique-idea__bg
		img(src='images/sections/main__unique-idea/images/bg.webp')
	.container
		.main__unique-idea__bg-images
			.main__unique-idea__rocket-1
				img(src='images/sections/main__unique-idea/images/rocket 1.webp')
			.main__unique-idea__rocket-2
				img(src='images/sections/main__unique-idea/images/rocket 2.webp')
			.main__unique-idea__lamp
				img(src='images/sections/main__unique-idea/images/lamp.webp')
			.main__unique-idea__line
				img(src='images/sections/main__unique-idea/images/line.webp')
		h2.main__unique-idea__title
			| У вас своя уникальная идея по разработке мерча?
		.main__unique-idea__sub-title
			| Изготовим мерч по вашему дизайну. Расскажем лайфхаки и ознакомим с  технологией производства, предоставим образцы матералов. 
		h3.main__unique-idea__form-title
			| Введите свои контактные данные, и наш менеджер свяжется с Вами в течении 1 часа
		form.main__unique-idea__form(action='#')
			input(placeholder='Ваше Имя')
			input(placeholder='Ваша электронная почта')
			input(placeholder='Ваш номер телефона')
			+href-button('Заказать', 'btn')