section.production__weCanCreate
	.container
		.production__weCanCreate__title
			| Мы можем создать
		.production__weCanCreate__subtitle
			| Товары, которые наиболее часто заказывают наши клиенты
		.production__weCanCreate__cards
			.production__weCanCreate__card
				.image-holder
					img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/с.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Кружки с вашей подписью
			.production__weCanCreate__card
				.image-holder
					img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/t-shirt.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Футболка с вашим дизайном
			.production__weCanCreate__card
				.image-holder
					img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/k.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Головной убор на заказ
			.production__weCanCreate__card
				.image-holder
					img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/s.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Носки с вашим дизайном
			.production__weCanCreate__card
				.image-holder
					img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/sh.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Надписи на шортах
