section.production__weCanCreate
	.container
		.production__weCanCreate__title
			| Мы можем создать
		.production__weCanCreate__subtitle
			| Товары, которые наиболее часто заказывают наши клиенты
		.production__weCanCreate__cards
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			.production__weCanCreate__card
				img.production__weCanCreate__card__img(src="images/sections/production__weCanCreate/images/placeholder.webp" alt='placeholder')
				.production__weCanCreate__card__title
					| Шапка
			