doctype html
include includedMixins
html(lang="ru")
    block head
        head
            meta(property="og:description" content="толстовки, свитшоты, футболки, поло, мерч по вашему дизайну")
            meta(property="og:title" content="GIFTS & MERCH small shop")
            meta(property="og:image" content="images/sections/main__prescreen/images/girls.webp")
            meta(name="description" content="gifts merch все товары " +
            "толстовки свитшоты футболки поло производство информацияу " +
            "уникальная идея по разработке мерч по вашему дизайну ")
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            meta(name="google-site-verification" content="sVN67BR6JXFnTsWGh-Tr0y_3TGXIvcmMqCa_5IbiUeU")
            link(rel="stylesheet", href="styles/style.css")
            title GIFTS & MERCH small shop
            script(src="scripts/layout.bundle.js" defer)
            link(rel="shortcut icon" href="https://img.icons8.com/emoji/48/000000/wrapped-gift.png" type="image/png")
    body
        block header
            include header/header.pug
        main.main
            block content
        block footer
            include footer/footer.pug
