*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

}

img {
  max-width: 100%;
  user-select:none;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1630px;
  margin: auto;
  padding: 0 15px;
  min-width: 480px;
}
section {
  min-width:480px;
}
li {
  list-style: none;
}
ul, li, ol {
  margin: 0;
  padding: 0;
}