section.allProducts__prescreen
    .allProducts__prescreen__bg
        img(src='images/sections/allProducts__prescreen/images/bg.webp' alt='placeholder')
    .container
        h1.allProducts__prescreen__title
            | Качественная одежда по привлекательным ценам
        .allProducts__prescreen__subtitle
            | Толстовки, свитшоты, худи, футблоки, поло на любой вкус
        .allProducts__prescreen__girls
            img(src='images/sections/allProducts__prescreen/images/sweetShotBlue.webp' alt='placeholder')
    .allProducts__prescreen__bg-bottom
        img(class='allProducts__prescreen__bg-white' src='images/sections/allProducts__prescreen/images/Vector 5.webp' alt='placeholder')