section.allProducts__prescreen
    .allProducts__prescreen__bg
        img(src='images/sections/allProducts__prescreen/images/bg.webp')
    .container
        h3.allProducts__prescreen__title
            |купить чашку с логотипом
        p.allProducts__prescreen__subtitle
            |Чашки с логотипом - это классика. Любая конференция или бизнес встреча не обойдется без данного реквизина.
            |Так же  это прекрасный подарок для ваших сотрудников, деловых партнеров, друзей или постоянных клиентов . 
            |Владельцы заведений общественного питания могут заказать крупные партии чашек для своего ресторана или кафе. 
            |Также вы можете распространять эти изделия во время рекламных мероприятий, презентаций, выставок или конференций.
        .allProducts__showMore

    .allProducts__prescreen__bg-bottom
        img(class='allProducts__prescreen__bg-white' src='images/sections/allProducts__prescreen/images/Vector 5.webp')
