.allProducts{
    position: relative;
    overflow: hidden;
    &__prescreen__container {
        position: relative;
        padding-top: 324px;
        padding-bottom: 440px;

    }
    &__prescreen__bg{
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    &__prescreen__bg img {
      width: 100%;
      height: 110%;
    }
    &__prescreen__bg-white {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 48%;
      bottom: -272px;
    }
    &__prescreen__text-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        max-width: 632px;
        width: 100%;
    }
    &__prescreen__sweetShot {
        position: absolute;
        right: 0;
        bottom: 300px;
    }
    &__prescreen__title {
        @include h1()

    }
    &__prescreen__subtitle {
        @include simpleText;
        font-size: 18px;

    }
}
@media (max-width: 1220px) {
  .allProducts__prescreen__sweetShot {
    right: -100px;
    transform: scale(0.7);
  }
}
@media (max-width: 1024px) {
  .allProducts__prescreen__sweetShot {
    bottom: 100px;
    right: 0;
    left: 0;
  }
  .allProducts__prescreen__container {
    padding-top: 75px;
    padding-bottom: 635px;
  }
}