.main__prescreen{
    position: relative;
    overflow: hidden;
    .main__prescreen__bg{
      z-index: -1;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .main__prescreen__bg img {
      width: 100%;
      height: 110%;
    }
    .main__prescreen__bg-white {
      z-index: 10;
      position: absolute;
      width: 100%;
      height: 48%;
      bottom: -272px;
    }
}