- let navProdSection = ['Все товары', 'Толстовки', 'Свитшоты','Футболки','Поло']

section.allProducts__products
    .container.allProducts__products__container
        ul.allProducts__products__navList
            each val in navProdSection
                li.allProducts__products__navItem
                    =val
        .allProducts__products__catalog
            +cardProd('images/sections/allProducts__products/images/white-hudi.webp', 'Белая толстовка Legenda Soldier', '$85', '1')
            +cardProd('images/sections/allProducts__products/images/orange-hoodie.webp', 'Оранжевая толстовка Kotel', '$73.53', '2')
            +cardProd('images/sections/allProducts__products/images/black-hoodie.webp', 'Черная толстовка RAVENCLO', '$66', '3')
            +cardProd('images/sections/allProducts__products/images/blue-hoodie.webp', 'Синяя толстовка HOATECK', '$72.99', '4')
            +cardProd('images/sections/allProducts__products/images/grey-hoodie.webp', 'Серая толстовка СПРУТ', '$80', '5')
            +cardProd('images/sections/allProducts__products/images/brown-hoodie.webp', 'Бордовая толстовка ТВОЕ', '$76.99', '6')
            +cardProd('images/sections/allProducts__products/images/green-black-hoodie.webp', 'Зеленая толстовка Colins', '$77', '7')
            +cardProd('images/sections/allProducts__products/images/pink-hoodie.webp', 'Розовая толстовка с принтом', '$76.43', '8')
        .allProducts__products__switch-btn-catalog
            button.allProducts__products__switch-btn-catalog__btn
               include images/btn-prev-catalog.svg
            ol.allProducts__products__numbers-pages
                - let n = 1
                while n <= 5
                    if n === 1
                        li.allProducts__products__numbers-pages__item.allProducts__products__numbers-pages__item__active
                            =n
                    else
                        li.allProducts__products__numbers-pages__item
                            =n
                    - n++
            button.allProducts__products__switch-btn-catalog__btn
                include images/btn-next-catalog.svg
