mixin links-holder()
    .links-holder()
        a(href='https://vk.com/public214277601' title="vk" target="_blank")
            include images/vk.svg
        a(href='https://web.telegram.org/k/' title="telegram" target="_blank")
            include images/telegram.svg
        a(href='https://web.whatsapp.com/' title="whatsapp" target="_blank")
            include images/whatsapp.svg