mixin links-holder()
    .links-holder()
        a(href='https://vk.com' title="vk")
            include images/vk.svg
        a(href='https://web.telegram.org/k/' title="telegram")
            include images/telegram.svg
        a(href='https://web.whatsapp.com/' title="whatsapp")
            include images/whatsapp.svg