section.information__prescreen
    .information__prescreen__bg
        img(src='images/sections/information__prescreen/images/bg.webp')
    .container
        .information__prescreen__title
            | КТО ТАКИЕ GIFTS & MERCH?
        .information__prescreen__subtitle
            | Merchy - это команда гуру творчества, со своей экспертностью в корпоратином сегменте. <br>
            | Мы знаем как волнителен, чаще стрессовый бывает заказ брендированной продукции и корпоративных подарков, потому, что были по обе стороны заказа. Это нам позволило изучить проблематики бизнесов и представить лучшие и современые решения для наших клиентов
        .information__prescreen__benefits
           .information__prescreen__links
                a(href="#FAQ") Часто задаваемые вопросы
                a(href="#contacts") Контакты
                a(href="#backdoor") Связаться с нами
        .information__prescreen__girls
            img(src="images/sections/information__prescreen/images/boy's.webp")
    .information__prescreen__bg-bottom
        img(class='information__prescreen__bg-white' src='images/sections/information__prescreen/images/Vector 5.webp')