.information__prescreen{
  position: relative;
  overflow: hidden;
  .information__prescreen__bg{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .information__prescreen__bg img {
    width: 100%;
    height: 110%;
  }
  .information__prescreen__bg-white {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 48%;
    bottom: -230px;
  }
  .container {
    div {
      position: relative;
      z-index: 1;
    }
    padding-top: 350px;
    padding-bottom: 120px; 
    position: relative;
    .information__prescreen__girls {
        position: absolute;
        z-index: 0;
        right: 0;
        bottom: -100px;
    }
    .information__prescreen__title{
      @include h2();
    }
    .information__prescreen__subtitle {
      @include simpleText();
      max-width: 720px;
      margin: 20px 0 50px 0;
    }
    .information__prescreen__links{
      display: flex;
      gap:40px;
      a{
        @include simpleText();
        color: #3C336C;
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1300px){
  .information__prescreen {
    .container{
      padding-top: 300px;
      .information__prescreen__subtitle{
        max-width: 450px
      }
      .information__prescreen__title{
        max-width: 450px
      }
      .information__prescreen__links {
        max-width: 400px;
        flex-wrap:wrap;
      }
      .information__prescreen__girls{
        right: -432px;
        bottom: 25px;
      }
    }
  }
}
@media (max-width: 1000px){
  .information__prescreen {
    .container{
      padding-top: 150px;
      .information__prescreen__subtitle{
        max-width: 400px
      }
      .information__prescreen__title{
        max-width: 400px
      }
      .information__prescreen__links {
        max-width: 300px;
        flex-wrap:wrap;
      }
      .information__prescreen__girls{
        right: -527px;
        bottom: -16px;
      }
    }
  }
}
@media (max-width: 768px){
  .information__prescreen {
    .information__prescreen__bg-white{
      bottom: -47px;
      height: 62%;
    }
    .container{
      padding-top: 100px;
      padding-bottom: 550px;
      .information__prescreen__subtitle{
        position: absolute;
        max-width: 480px;
        bottom:0px;
        z-index: 400;
      }
      .information__prescreen__title{
        max-width: 400px
      }
      .information__prescreen__links {
        display: none;
      }
      .information__prescreen__girls{
        right: 0;
        top: 168px;
      }
    }
  }
}