extends ../../template/layout.pug

block content
	script(defer src="scripts/information.bundle.js")
	include ../../sections/information__prescreen/information__prescreen
	include ../../sections/information__info-blocks/information__info-blocks
	include ../../sections/information__FAQ/information__FAQ
	include ../../sections/information__contactsAndBackdoor/information__contactsAndBackdoor