extends ../../template/layout.pug

block content
	script( defer src='scripts/production.bundle.js')
	include ../../sections/production__prescreen/production__prescreen
	include ../../sections/production__weCanCreate/production__weCanCreate

