extends ../../template/layout.pug

block content
	//- script( defer src='scripts/main.bundle.js')
	include ../../sections/production__prescreen/production__prescreen
	include ../../sections/production__weCanCreate/production__weCanCreate

