section.main__most-popular
	.main__most-popular__bg
		img(src="images/sections/main__most-popular/images/bg.webp" alt='placeholder')

	.container
		.main__most-popular__top
			h2.main__most-popular__title
				span
					| Самое популярное
					.main__most-popular__title__star
					include images/Star.svg
			span.main__most-popular__sub-title
				| Товары, которые наиболее часто заказывают наши клиенты
		a.main__most-popular__show-all(href="allProducts")
			| Все товары
			include images/Arrow 1.svg
		.main__most-popular__big.main__most-popular-block
			a.main__most-popular__block-content(href="#")
				img(src='images/sections/main__most-popular/images/card 1.webp' alt='placeholder')
		.main__most-popular__medium.main__most-popular-block
			a.main__most-popular__block-content(href="#")
				img(src='images/sections/main__most-popular/images/card 2.webp' alt='placeholder')
		.main__most-popular__small-1.main__most-popular-block
			a.main__most-popular__block-content(href="#")
				img(src='images/sections/main__most-popular/images/card 3.webp' alt='placeholder')
		.main__most-popular__small-2.main__most-popular-block
			a.main__most-popular__block-content(href="#")
				img(src='images/sections/main__most-popular/images/card 4.webp' alt='placeholder')
