.main__most-popular{
	margin-top: -70px;
	z-index: 100;
	position: relative;
	.main__most-popular__bg{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.main__most-popular__bg img {
		height: 100%;
		width: 100%;
	}
	.container {
		padding-top: 50px;
		padding-bottom: 70px;
		position: relative;
		z-index: 100;
		display: grid; 
		grid-template-columns: 0.7fr 0.15fr 0.15fr;
		grid-template-rows:  0.1fr 1.6fr 1.3fr; 
		gap: 10px 10px;
		grid-template-areas: 
		"top top show-all"
		"big medium medium"
		"big small-1 small-2"; 
	}
	.main__most-popular__top { grid-area: top; }
	.main__most-popular__show-all { grid-area: show-all; }
	.main__most-popular__big { grid-area: big; }
	.main__most-popular__medium { grid-area: medium; }
	.main__most-popular__small-1 { grid-area: small-1; }
	.main__most-popular__small-2 { grid-area: small-2; }
	.main__most-popular-block{
		border-radius: 15px;
		overflow: hidden;
	}
	.main__most-popular-block a {
		display: block;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.main__most-popular__title{
		@include h2();
		position: relative;
		.main__most-popular__title__star {
			position: absolute;
			right: -30px;
			top:-10px;
		}
	}
	.main__most-popular__sub-title {
		margin: 10px 0 7px 0;
		@include h6();
		display: block;

		font-size: 18px;
		line-height: 130%;

		/* or 23px */
		letter-spacing: 0.065em;
		text-transform: lowercase;
		color: #454747;
	}
	a.main__most-popular__show-all {
		font-weight: 400;
		font-size: 18px;
		line-height: 130%;

		/* or 23px */
		letter-spacing: 0.065em;

		/* main black */
		color: #272525;

		display: flex;
		gap: 10px;
		align-items:center;
		justify-content:flex-end;
	}

}

@media (max-width: 1000px){
	.main__most-popular {
		margin-top: 0;
		.container{
			grid-template-areas: 
			    "top top top"
			    "big medium medium"
			    "big small-1 small-2"
			    "show-all show-all show-all"; 
			grid-template-rows:  0.05fr 1.6fr 1.3fr 0.05fr; 
			a.main__most-popular__show-all{
				gap:10px;
				margin-top: 10px
			}
		}
	}
}

@media (max-width: 768px){
	.main__most-popular {
		.container {
		.main__most-popular__block-content {
			display: flex;
			justify-content:center;
		}
		.main__most-popular-block:nth-child(5) a{
			justify-content:flex-end;
		}
		.main__most-popular-block:nth-child(6) a{
			justify-content:flex-start;
		}
		.main__most-popular__block-content img {
			min-height: 100%;
			width: auto;
		}
		max-height: 800px;
		padding-top: 100px;
		padding-bottom: 100px;
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: .3fr 0.8fr 1fr .6fr .1fr;
		grid-template-areas: 
		    "top top"
		    "big big"
		    "medium medium"
		    "small-1 small-2"
		    "show-all show-all"; 
		    .main__most-popular__title {
		    	font-size: 24px;
		    }
		    .main__most-popular__sub-title {
		    	font-size: 15px;
		    }
		}
	}
}